// Navigation code here
header {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;


        @media @phone {
            display: flex;
            width: 100%;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

       .logo {
           display: flex;
           width: 45%;
           font-size: 40px;
           flex-flow: row nowrap;
           justify-content: center;
           align-items: center;
           margin: 5px;

                @media @phone {
                    width: 90%;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                }
       }

       nav {
           margin-bottom: 6px;
           width: 40%;
           display: flex;
           flex-flow: row nowrap;
           justify-content: space-evenly;


           @media @phone {
            display: flex;
            width: 90%;
        }

            a {
                .font-mixin(bold);
                font-size: 15px;
                text-decoration: none;
                color: black;
            }
       }

       .header-img {
           border-radius: 10px;
           width: 100%;
           display: flex;
           flex-flow: column wrap;
           justify-content: center;
           align-items: center;

            @media @phone {s
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                width: 98%;
                border-radius: 10px;
                
            }
            
       }
}

